*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Young Serif', serif;
    font-weight: 700;
    overflow-x: hidden;
}

header {
    display: flex;
    position: fixed;
    height: 10vh;
    align-items: center;
    width: 100%;
}

header .myname{
    margin-left: 20px;
    font-weight: 700;
}

.navbar {
    display: flex;
    bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.selected-section{
    display: flex;
    position: absolute;
    height: 100%;
    width: 25%;
    border-radius: 50%;
    background-color: #F0BA00;
    left: 0%;
    z-index: -1;
    transition: left 500ms;
}

.menubar {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #2A2A2A;
    justify-content: center;
    z-index: -2;
}

.menubar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: min-content;
    margin: 0;
    padding: 0 5px;
    gap: 25px;
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fixed{
    position: fixed;
    z-index: 100;
}

.right{
    right: 0;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: #2A2A2A;
}

.active{
    display: block;
}

.inactive{
    display: none;
}

.section-names{
    z-index: 10;
    display: flex;
    width: auto;
    height: fit-content;
    background-color: #8312D3;
    padding: 10px 30px 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.section-names p{
    font-weight: 700;
    color: white;
}

.title-welcome{
    display: flex;
    align-items: center;
    width: 100%;
    height: 18vh;
    margin-top: 5vh;
    
}

.title-text{
    position: relative;
    font-weight: 700;
    z-index: 5;
    text-align: center;
    margin: 0 auto;
}

.title-box{
    display: flex;
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #f0ba00;
    z-index: -2;
    transform: rotate(35deg);
    left: 5px;
    top: 5px;
    
}

.first-title span{
    position: relative;
    font-size: 3rem;
    
}

.first-title{
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

.creativity-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 11vh;
    margin: 0 auto;
    background-color: #2A2A2A;
    transform: rotate(-4deg) translateX(-50%);
}

.creativity-text{
    text-wrap: nowrap;
    z-index: 5;
    color: #8312D3;
    font-weight: 700;
    font-size: 3rem;
    /* transition: transform 2500ms;
    transform: translateX(-16.2%); */
}

.meets-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    height: fit-content;
    width: fit-content;
    background-color: #2A2A2A;
    border-radius: 40px;
}

.meets-text{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px;
}

.tech-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 11vh;
    margin: 0 auto;
    background-color: #2A2A2A;
    transform: rotate(4deg) translateX(-50%);
}

.tech-text{
    text-wrap: nowrap;
    z-index: 5;
    color: #F0BA00;
    font-weight: 700;
    font-size: 3rem;
    /* transition: transform 3000ms;
    transform: translateX(19%); */
}

.text-home{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    
    margin: auto;
}

.text-home p{
    font-size: 2.5vh;
    font-weight: 700;
    padding: 0 20px;
    
}

.text-home .job-title-span{
    color: #8312D3;
}

.text-home .yellow-span{
    color: #F0BA00;
}

.buttondiv1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;
    bottom: 50px;
    margin: 0 auto 30px;
}

.buttondiv1 button{
    background-color: #F0BA00;
    color: black;
    border-radius: 20px;
    padding: 1rem;
    font-family: 'Young Serif', serif;
    font-weight: 700;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttondiv1 button img{
    width: 20px;
}

.title-projects{
    display: flex;
    width: 100%;
    font-family: 'Young Serif', serif;
    font-weight: 700;
    height: 20vh;
}

.textdiv2{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title-triangle{
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #8312D3;
    width: 0px;
    height: 0px;
    position: relative;
    left: -58px;
    z-index: 2;
}

.textinsided2{
    text-wrap: nowrap;
    position: absolute;
    font-size: 2rem;
    color: white;
    z-index: 5;
}

.textinsided2 span{
    color: #F0BA00;
    font-size: 4.2rem;
}

/* PARTE QUE DETERMINA FUNCIONALIDADE DAS CARTAS DE PROJETOS 游릭游릭游릭*/

.projects-slider-container{
    display: flex;
    flex-direction: column;
    height: 70vh;
    position: relative;
}

.cards-slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75%;
    position: relative;
}
.project{
    display: flex;
    background-color: #8312D3;
    width: 200px;
    height: 80%;
    border-radius: 8px;
    position: absolute;
}

.project1{
    background-color: #F0BA00;
}

.project2{
    background-color: #8312D3;
}

.project3{
    background-color: #F0BA00;
}

.project4{
    background-color: #8312D3;
}


.slider-control{
    display: flex;
    flex-direction: row;
    height: 25%;
}

.buttons-slider{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.buttons-slider button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.buttons-slider button img{
    width: 8vw;
}

.mid-buttons{
    background-color: #8312D3;
    border: 1px solid black;
    border-radius: 8px;
}

.selected-card{
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.next-card{
    display: flex;
    right: -120px;
    transform: scale(0.75);
}

.previous-card{
    display: flex;
    left: -120px;
    transform: scale(0.75);
}

.hidden-card{
    display: none;
    transform: scale(0.75);
    
}

.previous-button, .next-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8312D3;
    border: 2px solid black;
    border-radius: 8px;
}

.title-techs{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
    height: 25vh;
}

.textdiv3{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text3-first{
    text-align: center;
    font-size: 2rem;
    z-index: 5;
}

.job-name{
    text-transform: capitalize;
    color: #F0BA00;
}

.first-letter-section3{
    font-size: 3.5rem;
}

.text3-second{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    width: 90%;
}

.circle-form{
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
    left: 0px;
    background-color: #F0BA00;
}

.technologies{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    width: 90%;
    height: 22vh;
    margin: 1rem auto 0;
    align-items: center;
    justify-items: center;
}

.container-tech1{
    grid-area:  2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 8px;
}

.container-tech2{
    grid-area:  1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 8px;
}

.container-tech3{
    grid-area:  1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 8px;
}

.container-tech4{
    grid-area:  2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 8px;
}

.card-tech{
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.card-tech:hover{
    transform: rotateY(180deg);
}

.front-tech, .back-tech{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
}

.front-tech{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #8312D3;
}

.front-tech img{
    width: 50%;
    height: auto;
    display: none;
}

.front-tech:hover > img{
    display: flex;
}

.back-tech{
    background-color: #2A2A2A;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-tech img{
    width: 50%;
    height: auto;
}

.my-card{
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;

}

.mage{
    display: flex;
    width: 60%;
    position: absolute;
    z-index: 6;
    left: 52%;
    top: -50px;
    transform: translateX(-50%);
}

.card-black{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    position: absolute;
    background-color: #2A2A2A;
    width: 70%;
    height: 42vh;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
}

.card-top{
    width: 90%;
    height: 45%;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 16px;
    display: flex;
}

.card-lv-name{
    width: 90%;
    height: 15%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.lv-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: auto;
    padding: 5px;
    border-radius: 50px;
    gap: 8px;
    padding: 3px 5px 3px 10px;
}

.lv-container span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A2A2A;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

.my-name{
    color: white;
    font-size: 1.2rem;
    text-wrap: nowrap;
}

.tech-area{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 25%;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 16px;
}

.title-tech-area{
    display: flex;
    position: relative;
    color: white;
    background-color: #8312D3;
    padding: 0 4px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: -15px;
    font-weight: 500;
}

.title-tech-area p{
    padding: 2px;
}

.tech-buttons{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.button-spell{
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #8312D3;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spell-active{
    background-color: #F0BA00;
}

/* arrumar daqui pra baixo */

.title-get-in-touch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    margin-top: 5vh;
    height: 14vh;
}

.text-div-4{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.pentagon-form{
    display: flex;
    position: absolute;
	width: 67px;
	height: 60px;
	background-color: #8312D3;
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    z-index: 2;
    left: -10px;
}

.text-4{
    font-size: 2rem;
    z-index: 4;
}

.text-4 span{
    font-size: 4rem;
    color: #F0BA00;
}

.paragraph-call{
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.20rem;
    font-weight: 500;
}

.paragraph-call p{
    padding: 0 2rem;
}

.container-form-get-in-touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-bottom: 10vh;
}

.card-letter{
    display: flex;
    position: relative;
    height: 85%;
    width: 75%;
    background-color: #F0BA00;
    border-radius: 8px;
    align-items: center;
    
}

.card-letter form{
    display: flex;
    flex-direction: column;
    /* modify justify-content  游리*/
    justify-content: space-around;
    align-items: baseline;
    width: 85%;
    height: 80%;
    z-index: 10;
    margin: 7.5% auto auto;
}

.card-letter form div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.div-name{
    width: 80%;
}

.div-email{
    width: 100%;
}

.div-message{
    width: 100%;
    height: 40%;
}

.input-name{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #2A2A2A;
    color: white;
    padding: 10px;
    font-family: 'Young Serif', serif;;
}

.input-email{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #2A2A2A;
    color: white;
    padding: 10px;
    font-family: 'Young Serif', serif;;
}

.input-message{
    width: 100%;
    height: 80%;
    border-radius: 8px;
    border: none;
    background-color: #2A2A2A;
    color: white;
    resize: none;
    padding: 10px;
    font-family: 'Young Serif', serif;;

}

.pomba{
    display: flex;
    position: absolute;
    width: 80px;
    right: -20px;
    top: -40px;
    z-index: 20;
}

.star-letter{
    display: flex;
    position: absolute;
    right: 0px;
    top: 10%;
    z-index: 2;
}

.last-button{
    display: flex;
    position: absolute;
    z-index: 20;
    bottom: -20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.button-send-email{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 50px;
    border-radius: 16px;
    background-color: #8312D3;
    border: none;
    font-family: 'Young-serif', serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: white;
    
}

.button-send-email img{
    margin-left: 20px;
}

.button-send-email p{
    margin: 0 auto;
}
