html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
    overflow-x: hidden;
}

header {
    display: flex;
    position: fixed;
    margin-top: 25px;
    width: 100%;
}

header .myname{
    margin-left: 20px;
    font-weight: 700;
}

.navbar {
    display: flex;
    bottom: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menubar {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #2A2A2A;
}

.menubar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: min-content;
    margin: 0;
    padding: 0 5px;
    gap: 25px;
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fixed{
    position: fixed;
    z-index: 100;
}

.right{
    right: 0;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: #2A2A2A;
}

.active{
    display: block;
}

.inactive{
    display: none;
}

.section-names{
    z-index: 10;
    display: flex;
    width: auto;
    height: fit-content;
    background-color: #8312D3;
    padding: 0 30px 0 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.section-names p{
    font-weight: 700;
    color: white;
}

.title-welcome{
    display: flex;
    position: relative;
    flex-direction: column;
    line-height: 2rem;
    align-items: center;
    top: 10vh;
    width: 100%;
    height: 15vh;
    margin: 0 auto;
    
    text-wrap: nowrap;
}

.title-text{
    position: relative;
    font-weight: 700;
    z-index: 5;
    text-align: center;
}

.title-box{
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #F0BA00;
    top: 20px;
    left: -8px;
    z-index: -2;
    transform: rotate(35deg);
}

.first-line span{
    position: relative;
    font-size: 3rem;
    
}

.first-line{
    font-size: 5vw;
    font-weight: 700;
}

.creativity-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 11vh;
    margin: 5rem auto 0;
    background-color: #2A2A2A;
    transform: rotate(-4deg) translateX(-50%);
}

.creativity-text{
    text-wrap: nowrap;
    z-index: 5;
    color: #8312D3;
    font-weight: 700;
    font-size: 3rem;
}

.meets-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    height: fit-content;
    width: fit-content;
    background-color: #2A2A2A;
    border-radius: 40px;
}

.meets-text{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 25px;
}

.tech-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 11vh;
    margin: 0 auto;
    background-color: #2A2A2A;
    transform: rotate(4deg) translateX(-50%);
}

.tech-text{
    text-wrap: nowrap;
    z-index: 5;
    color: #F0BA00;
    font-weight: 700;
    font-size: 3rem;
}

.text-home{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    
    margin: auto;
}

.text-home p{
    font-size: 2.5vh;
    font-weight: 700;
    padding: 0 20px;
    
}

.text-home .job-title-span{
    color: #8312D3;
}

.text-home .yellow-span{
    color: #F0BA00;
}

.buttondiv1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;
    bottom: 50px;
    margin: 0 auto 30px;
}

.buttondiv1 button{
    background-color: #F0BA00;
    color: black;
    border-radius: 20px;
    padding: 1rem;
    font-family: 'Young Serif', serif;
    font-weight: 700;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttondiv1 button img{
    width: 20px;
}

.title-projects{
    display: flex;
    width: 100%;
    font-family: 'Young Serif', serif;
    font-weight: 700;
    
}

.textdiv2{
    position: relative;
    display: flex;
    width: 100%;
    height: 22vh;
    align-items: center;
    justify-content: center;
}

.title-triangle{
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #8312D3;
    width: 0px;
    height: 0px;
    position: relative;
    left: -100px;
    z-index: 2;
}

.textinsided2{
    text-wrap: nowrap;
    position: absolute;
    font-size: 2rem;
    color: white;
    z-index: 5;
}

.textinsided2 span{
    color: #F0BA00;
    font-size: 4.2rem;
}

.cardsection{
    display: flex;
    position: relative;
    width: 100%;
    height: 60vh;
}

.cards{
    position: absolute;
    width: 35vw;
    height: 40%;
    border-radius: 10px;
}

.card1{
    
    
    left: 10vw;
    background-color: #8312D3;
}

.card2{
    right: 10vw;
    background-color: #F0BA00;
}

.card3{
    left: 10vw;
    top: 50%;
    background-color: #F0BA00;
}

.card4{
    right: 10vw;
    top: 50%;
    background-color: #8312D3;
}

.botoesgame{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 10vh;
    margin: 0 auto;
}

.select-suit{
    display: flex;
    width: 20%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #8312D3;
}

.select-suit img{
    height: 60%;
    width: auto;
}

.randomize-cards{
    display: flex;
    width: 18%;
    height: 75%;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    background-color: #8312D3;

}

.randomize-cards img{
    height: 70%;
}

.show-card{
    width: 40%;
    height: 80%;
    background-color: #F0BA00;
    border-radius: 10px;
    font-family: 'Young Serif', serif;
    font-size: 2rem;
}